*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    background-color: rgb(89, 168, 202);
    margin: 10px;
    height: 200px;
    width: 200px;
}
.image-1{
    height: 150px;
    width: 150px;
    background: linear-gradient(#0a0a09 #a7283b);
    background-image: url(images/exercise1.jpg);
    background-size: cover;
}
.image-2{
    background-color: red;
    filter: saturate(#218838 #007bff);
}
.image-2 img{
    height: 200px;
    width: 200px;
    background-color: red;
    filter: saturate(#218838 #007bff);
}